
    <div style="display: inline; float: right;">


@if ((Request.Url.PathAndQuery).Length < 5 || (((Request.Url.PathAndQuery).Substring(0, 5) != "/Cart") && ((Request.Url.PathAndQuery).Substring(0, 5) != "/User") && (!Request.Url.PathAndQuery.Contains("Details"))))
{
    Session["Sender"] = Request.Url.PathAndQuery;
}

    @if (Request.IsAuthenticated) {
    <text>
        Hello, @Html.ActionLink(User.Identity.Name, "Manage", "User", routeValues: null, htmlAttributes: new { @title = "Manage" })!
        @Html.ActionLink("View Cart", "ShowCart", "Cart", routeValues: new { User.Identity.Name} , htmlAttributes: new { @class = "styled_button", id = "registerLink" })
        @using (Html.BeginForm("Logout", "User", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
            <a class = "styled_button" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
            
        }
    </text>
} else {
        <!-- ifelse/ifelse/ifelse 1. user logged in 2. not logged in, but SessionCart 3. not logged in no cart -->
    if (Session.Keys.Count > 1)
    {
        @Html.ActionLink("View Cart", "ShowCart", "Cart", routeValues: new { User.Identity.Name} , htmlAttributes: new { @class = "styled_button", id = "registerLink" })
        @Html.ActionLink("Log in", "Login", "User", routeValues: null, htmlAttributes: new { @class = "styled_button", id = "loginLink" })
    } else {
            @Html.ActionLink("Register", "Create", "User", routeValues: new { User.Identity.Name, returnUrl = Request.Url.ToString()} , htmlAttributes: new { @class = "styled_button", id = "registerLink" })
            @Html.ActionLink("Log in", "Login", "User", routeValues: null, htmlAttributes: new { @class = "styled_button", id = "loginLink" })
    }
}
        </div>
