                    <nav id="topmenu">
                        <ul>
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("Clothing", "Index", "Clothing")</li>
                            <li>@Html.ActionLink("DIY", "Index", "DIY")</li>
                            <li>@Html.ActionLink("State Magnets", "Index", "Magnets")</li>
@*                            <li>@Html.ActionLink("Minecraft Mods", "Index", "Minecraft")</li>
                            <li>@Html.ActionLink("Android Apps", "Index", "Android")</li>*@
                            <li>@Html.ActionLink("About Me", "Index", "About")</li>
                        </ul>
                    </nav>