@model MySite.Models.Users

@{
    ViewBag.Title = "Change Your Password";
}

<h2>Change Your Password</h2>

@using (Html.BeginForm(routeValues: new { ReturnUrl = ViewBag.ReturnUrl, FormMethod.Post }))
{

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false)

   
<fieldset>
    <legend>Users</legend>

    <div class="display-field">
         @Html.DisplayFor(model => model.Fname), please enter the stuff and either hit submit or cancel.
    </div>


    <div class="display-label">
         @Html.DisplayNameFor(model => model.Username)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Username)
        @Html.HiddenFor(model => model.Username)
        @Html.HiddenFor(model => model.Password)
        @Html.HiddenFor(model => model.Fname)
        @Html.HiddenFor(model => model.Lname)
@*        @Html.HiddenFor(model => model.Address)
        @Html.HiddenFor(model => model.City)
        @Html.HiddenFor(model => model.State)
        @Html.HiddenFor(model => model.Zip)*@
        @Html.HiddenFor(model => model.Email)
        @Html.HiddenFor(model => model.Role)
    </div>

    <div class="display-label">
         @Html.Display("Enter your old password:")
    </div>
    <div class="display-field">
        @Html.PasswordFor(model => model.oldPass)
        @Html.ValidationMessageFor(model => model.oldPass)
    </div>

    <div class="display-label">
         @Html.Display("Enter your new password:")
    </div>
    <div class="display-field">
        @Html.PasswordFor(model => model.newPass)
        @Html.ValidationMessageFor(model => model.newPass)
    </div>
    
    <div class="display-label">
         @Html.Display("Confirm your password:")
    </div>
    <div class="display-field">
        @Html.PasswordFor(model => model.confirmPass)
        @Html.ValidationMessageFor(model => model.confirmPass)
    </div>
     
    <input type="submit" value="Change Password" />

</fieldset>
}
<p>
    @Html.ActionLink("Cancel", "Index") 
</p>
